.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 170px);
  grid-template-rows: repeat(3, 170px);
}

.cell {
  background-color: aqua;
}